body {
    font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 700 !important; /* Usar el peso 'bold' */
}

p {
    font-weight: 500 !important; /* Usar un peso más ligero para párrafos y enlaces */
}

.btn-classic{
    background-color: #090467 !important;
    color:white !important;
}

.btn-container{
    display: grid !important;
}

.navbar{
    background-color: #EFF8FF !important;
}

.footer{
    background-color: #e7f4fd !important;
}

.row .col {
    display: flex; /* Asegura que las columnas mantengan proporciones */
    justify-content: center; /* Centra las tarjetas en la columna */
}

.product_card {
    width: 18rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; /* Opcional: centra el contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: mejora visual */
    border: 1px solid #ddd; /* Opcional: define un borde */
    border-radius: 15px; /* Opcional: esquinas redondeadas */
}

.form-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; /* Opcional: centra el contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: mejora visual */
    border: 1px solid #ddd; /* Opcional: define un borde */
    border-radius: 15px; /* Opcional: esquinas redondeadas */
}

.custom-header{
    background-color: #090467 !important;
}