body {
    font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 700 !important; /* Usar el peso 'bold' */
}

p {
    font-weight: 500 !important; /* Usar un peso más ligero para párrafos y enlaces */
}

.btn-classic{
    background-color: #090467 !important;
    color:white !important;
}

.btn-container{
    display: grid !important;
}

.navbar{
    background-color: #EFF8FF !important;
}

.footer{
    background-color: #e7f4fd !important;
}